


.bg_primary {
  /* background-color: #e63673; */
  background-color: var(--card-primary-color);
}
.bg_light {
  /* background-color: #f8b3ca; */
  background-color: #369d49;
}
.bg_white {
  background-color: white;
}
.bg_transparent {
  background-color: transparent;
}
.bg_w_o {
  background-color: rgba(255, 255, 255, 0.8);
}
.bg_light_white {
  background-color: #f8f9fa;
}
.bg_bk {
  background-color: #39393f;
}
.bg_tweet {
  background-color: #54acee;
}
.bg_fb {
  background-color: #3c5998;
}
.bg_pinterest {
  background-color: #cc2027;
}