.bg_primary {
  background-color: #e63673;
}
.bg_light {
  background-color: #f8b3ca;
}
.bg_white {
  background-color: white;
}
.bg_transparent {
  background-color: transparent;
}
.bg_w_o {
  background-color: rgba(255, 255, 255, 0.8);
}
.bg_light_white {
  background-color: #f8f9fa;
}
.bg_bk {
  background-color: #39393f;
}