
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto;
  font-size: 14px;
}

button {
  border: none;
  background-color: none;
}
a {
  text-decoration: none;

}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
/* h1 + p {
  margin-top: 0;
} */


.border_radius_5 {
  border-radius: 5px;
}


/* .layer_index_1{
  z-index: 1;
} */




