.flex_col {
  display: flex;
  flex-direction: column;
}
.flex_justify_center {
  justify-content: center;
}
.flex_row {
  display: flex;
  flex-direction: row;
}
.flex {
  display: flex;
}
.flex_space_between {
  justify-content: space-between;
}
.flex_align_center {
  align-items: center;
}
.flex_align_stretch {
  align-items: stretch;
}
.flex_wrap {
  flex-wrap: wrap;
}
.gap_5 {
  gap: 5px
}
.gap_10 {
  gap: 10px
}
.gap_20 {
  gap: 20px
}
.gap_30 {
  gap: 30px
}
.gap_50 {
  gap: 50px
}
.gap_70 {
  gap: 70px
}
.gap_100 {
  gap: 100px
}
.gap_bt {
  gap: 350px
}