.padding_x_5 {
  padding-left: 5px;
  padding-right: 5px;
}
.padding_y_5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.padding_x_10 {
  padding-left: 10px;
  padding-right: 10px;
}
.padding_y_10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.padding_y_15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.padding_x_15 {
  padding-left: 15px;
  padding-right: 15px;
}
.padding_b_15 {
  padding-bottom: 15px;

}
.padding_x_16 {
  padding-left: 16px;
  padding-right: 16px;
}
.padding_y_16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.padding_t_16 {
  padding-top: 16px;
}
.padding_r_16 {
  padding-right: 16px;
}

.padding_16 {
  padding: 16px;
}
.padding_l_20 {
  padding-left: 20px;
}
.padding_r_20 {
  padding-right: 20px;
}
.padding_x_24 {
  padding-left: 24px;
  padding-right: 24px;
}

.padding_b_35 {
  padding-bottom: 35px;
}
.padding_l_48 {
  padding-left: 48px;
}
.padding_y_48 {
  padding-top: 48px;
  padding-bottom: 48px;
}
.padding_r_60 {
  padding-right: 60px;
}
.padding_x_95 {
  padding-left: 95px;
  padding-right: 95px;
}

.padding_t_96 {
  padding-top: 96px;

}
.padding_b_96 {
  padding-bottom: 96px;

}
.padding_l_96 {
  padding-left: 96px;
}
.padding_y_96 {
  padding-top: 96px;
  padding-bottom: 96px;
}