
.txt_lightgray {
  color: #858099;
}
.txt_darkgray {
  color: #344767
}
.txt_primary {
  color: rgb(54, 157, 73);
}
.txt_darkpink {
  color: rgb(4, 66, 16);
}
.txt_white {
  color: white;
}
.txt_center {
  text-align: center;
}
.txt_p {
  color: #d9d9d9;
}
