.max_width_card {
  max-width: 1092px;
}
.width_mainintro {
  max-width: 1140px;
}
.width_cardNo {
  width: 33%
}
.width_FS {
  width: 820px
}
.width_half {
  width: 50%
}
.width_quarter {
  width: 25%;
}